body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 0 10px 0 30px;

  border-radius: 10px;

  width: 50%;
  box-shadow: 0 0 52px -4px rgba(0, 0, 0, 0.55);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.nav_elem {
  margin: 5px;
}
a {
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}
a:link {
  color: #363435;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #363435;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  background-color: #ffa2a2;
}

/* selected link */
a:active {
  color: white;
  background-color: #ff4848;
}
.logo {
  width: 20%;
  height: 20%;
}
